{% extends 'base.html.twig' %}

{% block title %}Talents{% endblock %}

{% block body %}
    <h1>Talents</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ talent.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ talent.nom }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ talent.niveau }}</td>
            </tr>
            <tr>
                <th>Effets</th>
                <td>{{ talent.effets }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('talents_index') }}">back to list</a>

    <a href="{{ path('talents_edit', {'id': talent.id}) }}">edit</a>

    {{ include('talents/_delete_form.html.twig') }}
{% endblock %}
